* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all_feed {
    width: 100%;
}

.tabs_users_section {
    display: flex;
}

.section_pagetabs {
    width: 70%;
}

.section_users {
    width: 30%;
    display: flex;
}

.loader1 {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
}