* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all_feed {
    width: 100%;
}

.tabs_users_section {
    display: flex;
}

.section_pagetabs {
    width: 70%;
}

.section_users {
    width: 30%;
    display: flex;
}

.loader1 {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

/*Start of Feed Footer section*/

.feed_footer {
    box-sizing: border-box;
    background: #081d44;
    color: white;
    width: 100%;
    padding: 20px 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.feed_footer-center {
    font-family: 'Actor', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
}

.feed_team_page {
    color: white;
    font-family: 'Actor', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
}

.feed_team_page:hover {
    cursor: pointer;
    color: #a1c4fd;
    font-family: 'Actor', sans-serif;
    font-size: 30px;
    transition:1s ease-in;
}

.feed_link_to_booviepage {
    text-decoration: none;
}