* {
    margin: 0;
    padding: 0;
}

.all_welcome {
    /*background-color: #a5c0f5;*/
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.welcome_section {
    display: flex;
    padding: 10px;
    height: 90vh;
    /*width: 90vw;*/

}

.welcome_image {
    width: 50%;
    display: flex;
    align-items: center;
}

.welcome_image img {
    /*height: 600px;*/
    /*width: 800px;*/
    max-height: 100%;
    max-width: 100%;
}

.welcome_image .image2 {
    display: none;
}

/*.welcome_image .image1:hover {*/
/*display: none;*/
/*}*/

.welcome_text {
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    height: 100%;
    width: 50%;
    flex-direction: column;
    padding: 10px;
}

.boovie_text_width{
    width: 80%;
}

.about_boovie {
    margin-bottom: 20px;
}

.line_first {
    margin-bottom: 80px;
    width: 85%;
}

.line_first img {
    width: 100%;
    height: 100%;
}

.about_boovie p {
    color: white;
    font-family: 'Actor', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}

.about_boovie .text {
    color: #fff;
    font-family: 'Actor', sans-serif;
    font-size: 15px;
}

.blueline {
    box-sizing: border-box;
    background: #081d44;
    color: white;
    width: 100%;
    padding: 2em 1em 1em 0.5em;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.btn .btn_login {
    font-weight: 700;
    background-color: #081d44;
    font-size: 18px;
    color: white;
    border-radius: 7px;
    border: 1px solid transparent;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    transition: all .4s ease-out;
    margin-right: 10px;
    padding: 10px;
}

.btn .btn_signup {
    font-weight: 700;
    background-color: #081d44;
    font-size: 18px;
    color: white;
    border-radius: 7px;
    border: 1px solid transparent;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    transition: all .4s ease-out;
    padding: 10px;
}

.btn .buttons:hover {
    background-color: #6991c7;
    /*background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);*/
}

/*WHY Boovie Section*/

.why_boovie {
    display: flex;
    flex-direction: column;
}

.why_header h1 {
    font-size: 70px;
    font-family: 'Amaranth', sans-serif;
    color: white;
    text-align: center;
    margin-top: 25px;
}

/*Start of want Boovie section*/

.want_to {
    display: flex;
}

.want_to_desc {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px;
}

.want_to_img {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.want_to_img img {
    width: 100%;
}

.want_to_desc h2 {
    color: #081d44;
    font-family: 'Actor', sans-serif;
    font-size: 35px;
    text-align: left;
}

.want_to_desc p {
    color: white;
    font-family: 'Actor', sans-serif;
    font-size: 25px;
    text-align: left;
}

.want_to_img .image3 {
    width: 804px;
    height: 400px;
}

/*END OF WANT TO SECTION*/

.footer {
    box-sizing: border-box;
    background: #081d44;
    color: white;
    width: 100%;
    padding: 20px 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-center {
    font-family: 'Actor', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
}

.team_page {
    color: white;
    font-family: 'Actor', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
}

.team_page:hover {
    cursor: pointer;
    color: #a1c4fd;
    font-family: 'Actor', sans-serif;
    font-size: 30px;
    transition:1s ease-in;
}

.link_to_booviepage {
    text-decoration: none;
}

/*END OF Footer  SECTION*/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background:#c2e9fb ;
    height: 50%;
}

::-webkit-scrollbar-thumb {
    background:#081d44;
    border-radius: 5%;
    height: 50%;
}

::-webkit-scrollbar-thumb:hover {
    background: #6991c7
}