* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.all_movie_style{
    width: 100%;
    display: flex;
}

#movie_style{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}